<div class="row">
    <div class="col-sm-12">
        <h2 class="centrado">Establecer Caja {{caja.descripcion}}</h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <input type="number" [(ngModel)]="valorIngresar" class="form-control">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-2 "></div>
    <div class="col-sm-4 ">
        <button type="button" class="btn btn-primary" (click)="cerrarFormularioTrue()">Establecer</button>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-danger" (click)="cerrarFormulario()">Cancelar</button>
    </div>
</div>