<div class="row">
    <div class="col-sm-12">
        <h2 class="centrado">Resumen de Caja </h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3 class="centrado">Descripcion : {{caja.descripcion}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        estado y fecha : {{caja.estadoCaja}} - {{caja.fechaEstadoCaja}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        usuario estado : {{caja.usuarioEstadoCaja}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        apertura : {{cajaResumen.fecha_apertura}} usuario : {{cajaResumen.NusuarioApertura}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        cierre : {{cajaResumen.fecha_cierre}} usuario : {{cajaResumen.NusuarioCierre}}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        Descripcion : {{caja.descripcion}}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<hr>
<div class="row">
    <div class="col-sm-2 "></div>

    <div class="col-sm-4">
        <button type="button" class="btn btn-danger" (click)="cerrarFormulario()">Cerrar</button>
    </div>
</div>