<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class='centrado'>Datos Generales</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class='boton_activo'>
                        <a [routerLink]="['../establecimientos']" class="menuPrincipalLink">

                            <fa-icon [icon]="faArrowCircleRight "></fa-icon>&nbsp;&nbsp;Mantenimiento de Establecimientos</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class='boton_activo'>
                        <a [routerLink]="['../contadores']" class="menuPrincipalLink">
                            <fa-icon [icon]="faArrowCircleRight "></fa-icon>&nbsp;&nbsp;Mantenimiento de Contadores</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class='boton_activo'>
                        <a [routerLink]="['../impuestos']" class="menuPrincipalLink">
                            <fa-icon [icon]="faArrowCircleRight "></fa-icon>&nbsp;&nbsp;Mantenimiento de Impuestos</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class='boton_activo'>
                        <a [routerLink]="['../categorias']" class="menuPrincipalLink">
                            <fa-icon [icon]="faArrowCircleRight "></fa-icon>&nbsp;&nbsp;Mantenimiento de Categorias de productos</a>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class='boton_activo'>
                        <a [routerLink]="['../cuentasContables']" class="menuPrincipalLink">
                            <fa-icon [icon]="faArrowCircleRight "></fa-icon>&nbsp;&nbsp; Mantenimiento Cuentas Contables</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class='boton_activo'>
                        <a [routerLink]="['../Medios']" class="menuPrincipalLink">
                            <fa-icon [icon]="faArrowCircleRight "></fa-icon>&nbsp;&nbsp; Mantenimiento Medios de Pago</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class='boton_activo'>
                        <a [routerLink]="['../tipoDocumentos']" class="menuPrincipalLink">


                            <fa-icon [icon]="faArrowCircleRight "></fa-icon>
                            &nbsp;&nbsp; Mantenimiento Tipo Documentos</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>