<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class='centrado'>Categorias de productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)='crearCategoria()'>Nueva Categoria</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table" *ngIf="categorias.length > 0">
                <tr>

                    <th>Nombre</th>
                    <th>Letra</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th colspan="2">
                        opcion
                    </th>
                </tr>
                <tr *ngFor="let categoria of categorias">
                    <td>{{categoria.nombre }}</td>
                    <td>{{categoria.letra}}</td>
                    <td>{{categoria.tipoDescripcion }}</td>
                    <td>{{categoria.descripcion.trim()}}</td>
                    <td title="editar categoria">
                        <fa-icon [icon]="faPencilAlt  " class="boton_activo" (click)="setActualizacategoria(categoria)"></fa-icon>
                    </td>

                    <td title="Asignar caracteristicas de categoria">
                        <fa-icon [icon]="faAddressCard  " class="boton_activo" (click)="setAgregarPerfil(categoria)"></fa-icon>



                    </td>

                </tr>


            </table>
        </div>
    </div>
</div>