<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1  "></div>
        <div class="col-sm-10  ">
            <br>
            <div class="row">
                <div class="col-sm-12  ">

                    <h2 class='centrado'>Editar Usuario</h2>
                </div>
            </div><br>

            <div class="row">
                <div class="col-sm-12">
                    <h3>{{newUsuario.nombreCompleto}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="email">Mail: </label>
                        <label>{{newUsuario.mail}}</label> </div>

                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="email">Usuario: </label>
                        <input type="text" class="o_input" [(ngModel)]="newUsuario.Login" placeholder="Segundo Apellido...">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="email">Estado: </label>
                        <select class=" o_input " [(ngModel)]="newUsuario.estado">
                <option value=0>Estado</option>
                <option value=1>Activo</option>
                <option value=2>Inactivo</option>
            </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">Empleado: </label>
                        <select class=" o_input " [(ngModel)]="newUsuario.empleado">
                    <option value=0>No</option>
                    <option value=1>Si</option> 
                </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="email">Libranza: </label>
                        <select class=" o_input " [(ngModel)]="newUsuario.libranza">
              <option value=0>No</option>
              <option value=1>Si</option> 
          </select>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-12 justify-content-center centrado">
                    <button class="btn btn-outline-primary" role="button" (click)='guardarUsuario()'>
                <fa-icon [icon]="fasave " title=""></fa-icon> Guardar
            </button>
                    <button class="btn btn-outline-danger" role="button" (click)='cerrarFormulario()'>
               <fa-icon [icon]="fatrash " title=""></fa-icon>Cancelar
            </button>
                </div>
            </div><br>
        </div>
    </div>