<DIv>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="centrado">Cajas Disponible</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 "></div>
        <div class="col-sm-8 ">

            <table class="table">
                <thead *ngIf="!cajaAbiertaFlag" class="thead-inverse">
                    <tr>
                        <th>caja</th>
                        <th>Descripcion</th>
                        <th>opcion</th>
                    </tr>
                </thead>
                <tbody *ngIf="!cajaAbiertaFlag">
                    <tr *ngFor="let caja of cajas">
                        <td scope="row">{{caja.nombre}}</td>
                        <td>{{caja.descripcion}}</td>

                        <td *ngIf="caja.nombreEstado === 'Cerrada'">
                            <fa-icon [icon]="faCashRegister" class="fa-cash-register fa-2x boton_activo" (click)="asignarCaja(cajaAbierta)" title="Abrir caja">
                            </fa-icon>
                        </td>
                        <td *ngIf="caja.nombreEstado !== 'Cerrada'">
                            <span class="fa-stack  " title="Abrir caja">
                                <fa-icon [icon]="faCashRegister " ></fa-icon>
                                <fa-icon [icon]="faBan "></fa-icon></span>

                        </td>
                        <td *ngIf="caja.nombreEstado !== 'Cerrada'">
                            <fa-icon [icon]="faVoteYea" class=" boton_activo" (click)="continuar_caja_suspendida(caja)" title="Establecer caja">
                            </fa-icon>
                        </td>
                        <td *ngIf="caja.nombreEstado === 'Cerrada'">
                            <span class="fa-stack  " title="Establecer caja">
                            <fa-icon [icon]="faVoteYea " ></fa-icon>
                            <fa-icon [icon]="faBan"></fa-icon></span></td>


                        <td *ngIf="caja.nombreEstado === 'Pausa'">
                            <fa-icon [icon]=" faExpeditedssl" class="boton_activo" (click)="cerrar(caja)" title="Cerrar caja"></fa-icon>
                        </td>
                        <td *ngIf="caja.nombreEstado !== 'Pausa'">

                            <span class="fa-stack  " title="Cerrar caja">
                            <fa-icon [icon]="faExpeditedssl "></fa-icon>
                            <fa-icon [icon]="faBan "></fa-icon></span></td>
                    </tr>

                </tbody>



                <thead *ngIf="cajaAbiertaFlag" class="thead-inverse">
                    <tr>
                        <th>caja</th>
                        <th>Descripcion</th>
                        <th>Fecha de Apertura</th>
                        <th colspan="3">opcion</th>
                    </tr>
                </thead>
                <tbody *ngIf="cajaAbiertaFlag">
                    <tr>
                        <td scope="row">{{cajaAbierta.nombre}}</td>
                        <td>{{cajaAbierta.descripcion}}</td>
                        <td>{{cajaAbierta.fechaEstadoCaja}}</td>
                        <td>
                            <fa-icon [icon]="faCashRegister" class="boton_activo" (click)="continuar()" title="Abrir caja">
                            </fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faRunning" class="boton_activo" (click)="cerrar_parcial(cajaAbierta)" title="liberar caja">
                            </fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faExpeditedssl" class="boton_activo" (click)="cerrar(cajaAbierta)" title="Cerrar caja"></fa-icon>
                        </td>
                    </tr>


                </tbody>

            </table>
        </div>
    </div>
</DIv>