<div class="row" *ngIf="0 >= numCiudades   " style="margin-top: 20px;">
    <div class="col-sm-12">
        <div class="alert alert-primary" role="alert">
            No se han generado <strong>Ciudades</strong> en la base de datos.
        </div>
    </div>
</div>
<button (click)="editar( ciudadChange)" style="margin-top: 10px;" class="btn btn-primary">Nuevo Departamento</button>

<table class="table table-striped" *ngIf=" numCiudades > 0 ">
    <thead>
        <tr>
            <th scope="col">Codigo </th>
            <th scope="col">Codigo Dane</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Departamento</th>
            <th scope="col">País</th>
            <th scope="col" colspan="2">Opciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let ciudad of ciudades">
            <td>{{ciudad.cod_ciudad}}</td>
            <td>{{ciudad.cod_dane}}</td>
            <td>{{ciudad.nombre}}</td>
            <td>{{ciudad.nombre_dep}}</td>
            <td>{{ciudad.nombre_pais}}</td>
            <td style="cursor: pointer;" (click)="editar(ciudad)">
                <fa-icon [icon]="faEdit">
                </fa-icon>
            </td>
            <td style="cursor: pointer;" (click)="borrar(ciudad)">
                <fa-icon [icon]="faTrash">
                </fa-icon>
            </td>
        </tr>
    </tbody>
</table>