<div id="contenedor_pantalla_loading" class="oculto">
    <div align="center" style="margin-top:20%">
        <table>
            <tr>
                <td><span id='msg_pantalla_loading' style="float: left; font-size: 20px ">Procesando la informacion ...  </span> </td>
                <td>

                    <div class="loadingDiv" id="esperaMarcas" style="height:20px; width:100px;  ">
                        <div id="blockG_1" class="facebook_blockG"></div>
                        <div id="blockG_2" class="facebook_blockG"></div>
                        <div id="blockG_3" class="facebook_blockG"> </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>