.menuLateral   .card-header { 
    color: black !important;; 
    background-color: #9fc2e0 !important; 
    cursor: pointer !important;
}
.hidden{
       display:none !important;;
   }
   
   .formulario-jds {
       font-size: 12px!important;
   }
   
   
    