body {
	margin: 0px; padding: 0px; font-family: Verdana, Geneva, sans-serif; font-size: 12px;
}
 
a:hover {
	color: rgb(0, 0, 255); text-decoration: underline;
}
.portada {
	
}
.title-01 {
	color: rgb(255, 255, 255); font-size: 23px;
}
.content-textfield {
	margin: 1px; padding: 1px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 20px;
}
.topper {
	text-align: right; padding-right: 400px;
}
.topper a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.topperleft {width:70px;border: none;
    background-image: url("../images/fp-01.jpg");background-repeat: no-repeat; background-size: 100% 100%;
}
.topperleft-eco {width:70px;border: none;
    background-image: url("../images/fp-01_eco.jpg");background-repeat: no-repeat; background-size: 100% 100%;
}
.topper-right-eco {width:150px;border: none; height: 60px;
    background-image: url("../images/fp-02_eco.jpg");background-repeat: no-repeat; background-size: 100% 100%;
}
.topper-right {width:150px;border: none; height: 60px;
    background-image: url("../images/fp-02.jpg");background-repeat: no-repeat; background-size: 100% 100%;
}

.footer {
	height: 30px; text-align: center;    color: rgb(0, 0, 0); padding-top: 30px; font-size: 11px;
}
.footer-terms {
	height: 20px; color: rgb(102, 102, 102); line-height: 20px; text-decoration: none; display: block;
}
.footer-img {
	background-position: -1px 0px; width: 770px; height: 160px; background-image: url("../images/imagesportada/footer_007.jpg"); background-repeat: no-repeat;
}
.footer-img-eco {
	background-position: -1px 0px; width: 770px; height: 160px; background-image: url("../images/imagesportada/footer_007_eco.jpg"); background-repeat: no-repeat;
}
.mini-gray {
	    color: rgb(0, 0, 0);
}
#Verical-Align-Left {
	text-align: right; margin-right: 10px;
}
 
 .mcv_btnMasInfo {
	height: 25px;
	width: 130px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../images/012_new.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	line-height: 25px;
	padding: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.Ecof_btnMasInfo {
    height: 25px;
    width: 130px;
    font-weight: bold;
    color: #FFF;
    background-image: url(../images/012-02.png?11);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-size: 12px;
    line-height: 25px;
    padding: 0px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}     
      
.button {
	height: 25px;
	width: 75px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../images/012.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	line-height: 25px;
	padding: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.button_eco {
    height: 25px;
    width: 75px;
    font-weight: bold;
    color: #FFF;
    background-image: url(../images/012.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-size: 12px;
    line-height: 25px;
    padding: 0px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.title-01-eco {
    font-size: 23px;
    color: #EB8022;
}